@model WebProje.Models.Araba

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Araba</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IlanNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IlanNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yakit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yakit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vites)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vites)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotorGücü)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotorGücü)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotorHacmi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotorHacmi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Km)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Km)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plaka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plaka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Durumu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Durumu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fotograf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fotograf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArabaModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArabaModel.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KasaTipi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KasaTipi.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cekis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cekis.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Renk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Renk.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Satici)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Satici.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marka.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
